<form action="<%=users_url%>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="Email">Email</label>
  <input type="text" name="user[email]" id="Email"> <br>

  <label for="Password">Password</label>
  <input type="password" name="user[password]" id="Password"> <br>

  <p><input type="submit" value="Signup"></p>
</form>